<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<br />
<br />
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card mb-3" style="max-width: auto">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="/Assets/images/simran.jpg"
          alt=""
          width="320"
          height="400"
          style="float: left; padding: 10px"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><u>About Myself</u></h5>
          <p class="card-text">I am an aspiring Web Developer.</p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->
<br />
<a
  href="/Assets/Documents/HARSIMRAN K (1).pdf"
  style="text-align: center; color: grey"
  ><h3><b>Click here to view my resume.</b></h3></a
>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
