<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<br />
<br />
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card mb-3" style="max-width: auto; font-size: larger;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="/Assets/images/simran.jpg"
          alt=""
          width="270"
          height="330"
          style="float: left; padding: 10px"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><u><b>About Myself</b></u></h5>
          <p class="card-text">I am an aspiring Web Developer. Currently I am pursuing software engineering diploma at centennial college and I will be graduating 
            this december. And I am very curious to start my career as a web developer. Apart from web development I am also familier with various other languages
            like C, C++, C#, java and python. I am very clear about the concepts of object oriented programming. Along with this I also have experience of using
            github and cloud deployment (azure). Apart from this, I have also studied data structure, computer architecture and organisation and computer networking concepts while in graduation. I choose to pursue career as 
            web developer because of all the languages I have studied I find it to be the most interesting. Its very versatile and dynamic and also holds good 
            position in market. 
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card" style="font-size: large;">
     <h5 class="card-title"><u><b>Education and Qualifications</b></u></h5>
     <p class="card-text">Currently, I am studying in <b>Software Engineering technician diploma</b> (last semester) from centennial college.
       During diploma I have studied,web Development (using HTML, CSS, XML, javascript, Json, Ajax, bootrtrap, nodejs, express, angular, typescript) C# as in object oriented programming, Software engineering fundamentals, it covered all the Software 
       engineering methodologies used in development of projects. Along with this we were also introduced to Linux (ubuntu and fedora), java and python.
      </p>
      <p>
       Previously, I have done <b>Bachelors in Computer Application(BCA)</b> from Panjab University, Chandigarh, India. During bachelors I have studied C,
       C++, basic java, Computer architecture and organisation, computer networks, Linux on Redhat, HTML and javascript, Data Structures and Maths.
       Along with this I have done add on certification course in <b>Animation and graphics</b> in which I have learnt about Photoshop and Corel Draw.

       </p>

       <p>And, I have done <b>grade 12th</b> in non-medical stream (physics, chemistry and maths) from Shivalik Public School, Nawanshahar, Punjab, India.</p>
       <a
  href="/Assets/Documents/HARSIMRAN K (1).pdf"
  style="text-align: center; color: grey"
  ><h3><b>Click here to view my resume.</b></h3></a
>
  </div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card">
    <div class="card-body"><h3>Qualifications</h3></div>
  </div>
</div>
</div>
<!--   -->
<br />
<a
  href="/Assets/Documents/HARSIMRAN K (1).pdf"
  style="text-align: center; color: grey"
  ><h3><b>Click here to view my resume.</b></h3></a
>
<br><br>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
