<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<br />
<br />
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card mb-3" style="max-width: auto; font-size: larger;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="/Assets/images/simran.jpg"
          alt=""
          width="270"
          height="330"
          style="float: left; padding: 10px;"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><u><b>About Myself</b></u></h5>
          <p class="card-text">I am an aspiring Web Developer. Currently I am pursuing software engineering diploma at centennial college and I will be graduating 
            this december. And I am very curious to start my career as a web developer. Apart from web development I am also familier with various other languages
            like C, C++, C#, java and python. I am very clear about the concepts of object oriented programming. Along with this I also have experience of using
            github and cloud deployment (azure). Apart from this, I have also studied data structure, computer architecture and organisation and computer networking concepts while in graduation. I choose to pursue career as 
            web developer because of all the languages I have studied I find it to be the most interesting. Its very versatile and dynamic and also holds good 
            position in market. 
          </p>
          <a
            href="/Assets/Documents/HARSIMRAN K (1).pdf"
            style=" color:rgb(126, 193, 248)"
            ><h5><b>Click here to view my resume.</b></h5></a
          >
          
        </div>
      </div>
    </div>
  </div>
</div>

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card" style="font-size: large;">
   
      
        <div class="card-body">
     <h5 class="card-title"><u><b>Education and Qualifications</b></u></h5>
     <p class="card-text">Currently, I am studying in <b>Software Engineering technician diploma</b> (last semester) from centennial college.
       During diploma I have studied,web Development (using HTML, CSS, XML, javascript, Json, Ajax, bootrtrap, nodejs, express, angular, typescript) C# as in object oriented programming, Software engineering fundamentals, it covered all the Software 
       engineering methodologies used in development of projects. Along with this we were also introduced to Linux (ubuntu and fedora), java and python.
      </p>
      <p>
       Previously, I have done <b>Bachelors in Computer Application(BCA)</b> from Panjab University, Chandigarh, India. During bachelors I have studied C,
       C++, basic java, Computer architecture and organisation, computer networks, Linux on Redhat, HTML and javascript, Data Structures and Maths.
       Along with this I have done add on certification course in <b>Animation and graphics</b> in which I have learnt about Photoshop and Corel Draw.

       </p>

       <p>And, I have done <b>grade 12th</b> in non-medical stream (physics, chemistry and maths) from Shivalik Public School, Nawanshahar, Punjab, India.</p>
       <p>Click on the link below to view my academic transcripts.</p>
       <a
      href="/Assets/Documents/Degree-certificates.pdf"
      style=" color: rgb(108, 190, 245)"
      ><h5></h6><b>Click here to view my Academic Certificates.</b></h5></a
    >
    
      
      </div>
  </div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card mb-3" style="max-width: auto; font-size: larger;">
    <div class="row no-gutters">
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><u><b>Academic Achievements</b></u></h5>
          <p class="card-text">
              <ul>
                <li> 1st position in Panjab University exams in 1st year.</li>
                <li> 2nd position in Panjab University exams in 2nd year.</li>
                <li> 1st position in inter-college Logo designing competition held in govt. College, phase-6, Mohali.</li>
                <li> Appointed as Cyber Room in-charge in college hostel, for session 2017-2018.</li>
                <li> 1st position in all India coloring and mathematics competition organized by Penta soft in year 2012.</li>
                <li> 2nd position in National science congress at District level in year 2011.</li>
              </ul>
          </p>    
          <p>Click on the link below to view my achievement certificates.</p> 
           <a
      href="/Assets/Documents/achievement.pdf"
      style=" color: rgb(108, 190, 245)"
      ><h5></h6><b>Click here to view my achievement Certificates.</b></h5></a
    > 
        </div>
      </div>
      <div class="col-md-4">
        <img
          src="/Assets/images/achievement.gif"
          alt=""
          width="420"
          height="340"
          style="float: right; padding: 10px;"
        />
      </div>
    </div>
  </div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/about2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
  <div class="card mb-3" style="max-width: auto; font-size: larger;">
    <div class="row no-gutters">
      
      <!-- -->
      
      
        <div class="card-body">
          <h5 class="card-title"><u><b>Hobbies and Personal Interests</b></u></h5>
         <p>My hobbies include dancing, reading books, solving maths problems, drawing and painting. Out of these drawing and painting is my favourite.
           I love to do oil painting. And also I have won various drawing competitions. Dancing is my second favourite, and Bhangra dance form is 
           the one I like the most. Apart from this, I am very fond of travelling. I like to do hiking and trekking and I love to explore nature. <br>
           Below are some my pictures representing my interests:
         </p>
        </div>
     <br>
       <!--section b  -->
             
      <section class="col-sm-4  ">
        <img src="/Assets/images/PencilColourFlower.jpg" alt="sample image" style="width: 350px0px;height:300px;">
        <h4>Pencil colour flower drawing</h4>
        <p >This is simple pencil colour drawing. I drew it just randomly with my imagination.</p>
      </section>
      <section class="col-sm-4 ">
        <img src="/Assets/images/OilPainting.jpg" alt="sample image" style="width: 350px;height:300px">
        <h4>Oil Painting</h4>
        <p>This is a simple oil painting. It took me 1 week time to complete.</p>
      </section>
      <section class="col-sm-4 ">
        <img src="/Assets/images/oilPainting2.jpg" alt="sample image" style="width: 370px;height:300px">
        <h4>Landscape oil painting</h4>
        <p>This is an oil painting that that I tried to make by looking at a digital picture. It took me a month to complete it.</p>
      </section>
       <section class="col-sm-4 ">
        <img src="/Assets/images/PencilSketch.jpg" alt="sample image" style="width: 300px;height:300px">
        <h4>Pencil Sketch of traditional era.</h4>
        <p>This is pencil sketch showing old times when ladies used to fetch water from well and then carry it home in round pots.</p>
      </section>
       <section class="col-sm-4 ">
        <img src="/Assets/images/Bhangra.jpg" alt="sample image" style="width: 300px;height:300px">
        <h4>Before Bhangra Performance </h4>
        <p>This is a picture taken before welcome performance that we did to welcome the new principal of our college. </p>
      </section>
       <section class="col-sm-4 ">
        <img src="/Assets/images/trekking.jpg" alt="sample image" style="width: 400px;height:300px">
        <h4>Trekking to Triund Top.</h4>
        <p>This is picture taken on the trek route to Triund. Triund is a serene and alluring trekking destination. Nestled in the lap of Dhauladhar Range, at a height of 2,828 m from ground.  </p>
      </section>
      
      
   
          <!--section e  -->
    </div>
  </div>
</div>
<!--   -->

<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/aboutPaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  "
>
 <div class="card">
    <div class="card-body">
     <h5 class="card-title"><u><b>Goals</b></u></h5>
      <h6 class="card-title"><u><b>For Career</b></u></h6>
    <p>I aim to keep learning about various aspects and platforms of Information Technology. I also wish to pursue Masters in the same field to 
      enhance my qualification profile. I would like to learn about cloud computing and cyber security because that first it will get me more new 
    knowledge and second it will enable me to do get a higher role at my work place.   </p>
    <h6 class="card-title"><u><b>For Life</b></u></h6>
    <p>I want to be an independent women, who lives life on her own terms. Along with that I want to do something for other struggling and suffering women 
      around the globe. I also want to something to uplift the poor and abloish poverty as much as I possibly can. I want to contribute into making this world
      beautiful as a Global Citizen.
    </p>
  </div>
  </div>
</div>
</div>
<!--   -->
<br />

<br><br>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
