<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!--main content-->
<br />
<br />

<div
  style="background-color: rgb(252, 239, 250); text-align: left"
  class="jumbotron"
>
  <img
    src="/Assets/images/welcome.jpg"
    alt=""
    style="float: left; width: 300px; height: 165px; padding-right: 25px"
  />
  <br />
  <h1 style="tab-size: 4">Welcome to Harsimran's Portfolio Website.</h1>
</div>
<br />
<blockquote
  style="
    font-size: xx-large;
    text-align: center;
    font-family: Gill Sans Extrabold, sans-serif;
  "
>
  "Self-belief and hard work will always earn you success"
</blockquote>
<br />
<!--   -->
<div
  class="jumbotron"
  style="
    background-image: url(/Assets/images/flower.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: larger;
  "
>
  <h5>Hi There!</h5>
  <p>
    You have landed on the home page of my portfolio website. This is a basic
    website that showcase my knowledge of MEAN stack.
  </p>
  <p>
    I have used Expressjs, nodejs, MongoDB, angular, typescript, HTML, CSS,
    jquery, bootstrap, fontawesome, passport and JWT(for authentication) JSON
    mainly to prepare this website.
  </p>

  <p>
    In this website I have covered all the concepts of MEAN stack that I am
    familier with and I have also mentioned within the site wherever I have used
    those particular concepts ( you will see them as you move forward).
  </p>
  <p>I hope you will like my work. So, lets begin.</p>
  <br />
  <a href="/About"> <h4>Click here to go to the about page.</h4></a>
</div>

<div style="background-color: rgb(253, 245, 250)">
  <br /><br />
  <br />
</div>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
