<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %>
  <br><br><br>
<!--All the new work here-->
<h6 style="text-align: center;">{ This page represents the use of MongoDB Atlas, connection to databse, CRUD functionality and authentication. You can see it by clicking on the last link}</h6>
<br><br>
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div class="card w-75" style="margin-left: auto; margin-right: auto">
   
    <div class="card-body">
      <p class="card-text">
         <h5 class="card-title"><b>My Contact Details</b> </h5>
      <h5 class="card-title"><b>Phone no. :</b> 437-221-2328</h5>
      <h5 class="card-title"><b>Email: </b>harsimrankaur708@gmail.com</h5>
      <h5 class="card-title"><b>Address: </b>7 Smithers Crescent, Brampton, ON, L6Y3L3</h5>
      <h5 class="card-title"><b>You can contact me on linkedIn by clicking on the following link: </b> <a
        href="https://www.linkedin.com/in/harsimran-kaur-16b182193/"
        style="color: rgb(126, 193, 248)"
        ><h5><b>Click here to see my linkedIn Profile.</b></h5></a
      ></h5>
      <h5 class="card-title"><b>You can contact me on facebook by clicking on the following link: : </b> <a
        href="https://www.facebook.com/frenzy.wrangler"
        style="color: rgb(126, 193, 248)"
        ><h5><b>Click here to see my facebook Profile.</b></h5></a
      ></h5>
      <h5 class="card-title"><b>You can contact me on instagram by clicking on the following link: </b>  <a
        href="https://www.instagram.com/simran145678/"
        style="color: rgb(126, 193, 248)"
        ><h5><b>Click here to go to my instagram Profile.</b></h5></a
      ></h5>
     

      </p>
    </div>
  </div>
</div>
 
<!---->
  <!-- <main>
    <div class="container" style="align-items: center;">
  
        <h1 class="display-4">Contact Me</h1>   
        <hr>
        
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstName"
              placeholder="Enter your First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="lasttName"
              placeholder="Enter your Last Name" required>
            </div>
          </div>

          
          <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailAddress"
            placeholder="Enter your Email" required>
          </div>
           <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input type="tel" class="form-control" id="contactNumber" aria-describedby="contactNumber"
            placeholder="Enter your Contact Number" required>
           </div>
          
         
         
          <button   class="btn btn-primary" id="SubmitButton" onclick="window.location.href='/home'"><i class="fas fa-share-square"></i> Submit</button> </a>         
          <button type="reset" class="btn btn-warning" id="resetButton"><i class="fas fa-undo"></i> Reset</button>          

        </form>
    </div>
    

  </main> -->
  <br>
  <div class="container">
   <h2>You can give me your contact if you wish to by clicking on the link below:</h2>
   <h4>( Make sure you log in before you enter, edit or delete your contact by clicking Login button on the navigation bar.)</h4>
          <a style="font-style: italic;  color:		#031152;	font-family: serif; font-size: larger;" class="nav-link" href="/contact-list"> <i class="far fa-list-alt"></i> Click here to view the contact list</a>
        </li>
  </div>
  <br>
  <br>
  <br>

  <%- include partials/bottom_nav.ejs %>
 <%- include partials/footer.ejs %>
