<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<br />
<br />
<br />
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/dice.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<br />

<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/slot.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>
<br />
<!---->
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<br />
<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>

<br /><br /><br />

<!--------------------------------------------------------------------------------------------------------->

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
