<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<h2 style="text-align: center; color: #d65282; font-style: italic">
  <b>Below are my three projects</b>
</h2>
<br />
<hr />
<h3 style="color: grey">1. Slot Machine</h3>
<a href="https://simran145678.github.io/Assignment_4_Comp125/">
  <img
    src="Assets/images/slot.png"
    alt="slot machine"
    style="
      border-style: double;
      margin-left: auto;
      margin-right: auto;
      display: block;
    "
/></a>
<br />
<p
  style="
    text-align: center;
    color: #d65282;
    font-style: italic;
    font-size: x-large;
  "
>
  This is a slot game developed by using javascript, typescript, nodejs,
  bootstrap, HTML, css, AJAX and Json framework.
</p>
<br />
<hr />
<h3 style="color: grey">2. Dice Roll</h3>
<a href="https://simran145678.github.io/COMP125_M2020_FinalTest/">
  <img
    src="Assets/images/dice.png"
    alt="Roll the dice"
    style="
      border-style: double;
      margin-left: auto;
      margin-right: auto;
      display: block;
    "
/></a>
<br />
<p
  style="
    text-align: center;
    color: #d65282;
    font-style: italic;
    font-size: x-large;
  "
>
  This is a rolling dice game developed by using javascript, typescript, nodejs,
  bootstrap, HTML, css, AJAX and Json framework.
</p>
<br />
<hr />

<h3 style="color: grey">2. Tic Tac Toe</h3>

<img
  src="Assets/images/tictactoe.jpeg"
  alt="tic tac toe"
  style="
    border-style: double;
    margin-left: auto;
    margin-right: auto;
    display: block;
  "
/>
<br />
<p
  style="
    text-align: center;
    color: #d65282;
    font-style: italic;
    font-size: x-large;
  "
>
  Using same framework I am currently working on creating a tic tac toe game
</p>

<br /><br /><br />

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
