<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<br />
<br />
<br />
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/dice.png" class="card-img-top" alt="..." />
    <hr />
    <div class="card-body">
      <p class="card-text">
        This is very basic project that rolls two dice. This has been created by
        using javascript, nodejs, typescript mainly.
      </p>
      <p>You can see deployment by clicking the link below.</p>
      <a
        href="https://simran145678.github.io/COMP125_M2020_FinalTest/"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view the deployed project.</b></h6></a
      >
      <p>
        You can see the code by accessing github repo by clicking on the link
        below.
      </p>
      <a
        href="https://github.com/Simran145678/COMP125_M2020_FinalTest"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view code.</b></h6></a
      >
    </div>
  </div>
</div>

<br />
<br />

<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/slot.png" class="card-img-top" alt="..." />
    <hr />
    <div class="card-body">
      <p class="card-text">
        This is slot machine game created by using HTML, CSS, javascript,
        nodejs, typescript mainly.
      </p>
      <p>You can see deployment by clicking the link below.</p>
      <a
        href="https://simran145678.github.io/Assignment_4_Comp125/"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view the deployed project.</b></h6></a
      >
      <p>
        You can see the code by accessing github repo by clicking on the link
        below.
      </p>
      <a
        href="https://github.com/Simran145678/Assignment_4_Comp125"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view code.</b></h6></a
      >
    </div>
  </div>
</div>
<br />
<br />
<!---->
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/surveyCity.png" class="card-img-top" alt="..." />
    <hr />
    <div class="card-body">
      <p class="card-text">
        This is an application for making surveys. It is being prepared as a
        group. Currently its under progress and I am responsible for designing
        front end for it.
      </p>

      <p>
        You can see the code by accessing github repo by clicking on the link
        below.
      </p>
      <a
        href="https://github.com/SurveyCity/SurveyCity"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view code.</b></h6></a
      >
    </div>
  </div>
</div>

<br />
<br />
<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div class="card w-50" style="margin-left: auto; margin-right: auto">
    <img src="/Assets/images/portfolio.png" class="card-img-top" alt="..." />
    <hr />
    <div class="card-body">
      <p class="card-text">
        This is the website that you are currently using. I started this at the
        begining of the semester and I am adding the knowledge into it as I am
        learning. The end product will be a proper site working on MEAN stack.
      </p>

      <p>
        You can see the code by accessing github repo by clicking on the link
        below.
      </p>
      <a
        href="https://github.com/Simran145678/Portfolio"
        style="color: rgb(126, 193, 248)"
        ><h6><b>Click here to view code.</b></h6></a
      >
    </div>
  </div>
</div>

<br /><br /><br />

<!--------------------------------------------------------------------------------------------------------->

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
