<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<br />
<br />
<br />
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div
    class="card border-secondary mb-3 w-50"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="card-header" style="font-size: x-large"><b>Anirban Das</b></div>
    <div class="card-body text-secondary">
      <h5 class="card-title"><b>Designation:</b> Solution Architect (RBC)</h5>
      <h5 class="card-title"><b>Phone no. :</b> 647-894-6888</h5>
      <h5 class="card-title"><b>Email:</b> anirban@live.ca</h5>
      <h5 class="card-title"><b>Relation:</b> Relative</h5>
    </div>
  </div>
</div>

<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div
    class="card border-secondary mb-3 w-50"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="card-header" style="font-size: x-large"><b>Amar Ali</b></div>
    <div class="card-body text-secondary">
      <h5 class="card-title">
        <b>Designation:</b> Production Supervisor at Mclaren.
      </h5>
      <h5 class="card-title"><b>Phone no. :</b> 647-909-4511</h5>
      <h5 class="card-title"><b>Email:</b> mar_my@yahoo.com</h5>
      <h5 class="card-title"><b>Relation:</b>College Friend</h5>
    </div>
  </div>
</div>
<!---->
<div class="container" style="background-color: rgb(253, 237, 242)">
  <div
    class="card border-secondary mb-3 w-50"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="card-header" style="font-size: x-large">
      <b>Marwan Naser</b>
    </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">
        <b>Designation:</b>E-commerce department manager.
      </h5>
      <h5 class="card-title"><b>Phone no. :</b> 437-233-1006</h5>
      <h5 class="card-title"><b>Email:</b> marwan.nasr@trulysec.com</h5>
      <h5 class="card-title">
        <b>Relation:</b>My department manager at walmart.
      </h5>
    </div>
  </div>
</div>
<!---->
<div class="container" style="background-color: rgb(237, 248, 253)">
  <div
    class="card border-secondary mb-3 w-50"
    style="margin-left: auto; margin-right: auto"
  >
    <div class="card-header" style="font-size: x-large">
      <b>Gaganpreet Singh</b>
    </div>
    <div class="card-body text-secondary">
      <h5 class="card-title">
        <b>Designation:</b>Front Office Manager at Holiday's Inn
      </h5>
      <h5 class="card-title"><b>Phone no. :</b> 647-680-0786</h5>
      <h5 class="card-title"><b>Email:</b>Gagan31297@yahoo.com</h5>
      <h5 class="card-title"><b>Relation:</b>Friend Since 8 years.</h5>
    </div>
  </div>
</div>

<br /><br /><br />
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
